@model List<Reservation>

<div class="col-md-6">
    <div class="card">
        <div class="card-header border-transparent">
            <h3 class="card-title">Son Rezervasyonlar</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Misafir Bilgileri</th>
                            <th>Rota</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderByDescending(x => x.ReservationDate).Take(4)) // burada ilk 4 tanesini göstermek için yapıyoruz
                        {
                            <tr>
                                <td>@item.AppUser.Name @item.AppUser.Surname</td>
                                <td>@item.Destination.City</td>
                                <td width="150px" class="align-middle color-palette-set  text-center text-md">
                                    @{
                                        string statusColorClass = "";
                                        switch (item.Status)
                                        {
                                            case "Onay Bekliyor":
                                                statusColorClass = "color-palette bg-warning text-dark";
                                                break;
                                            case "Onaylandı":
                                                statusColorClass = "color-palette bg-success text-light";
                                                break;
                                            case "İptal Edildi":
                                                statusColorClass = "color-palette bg-danger text-light";
                                                break;
                                            case "Tamamlandı":
                                                statusColorClass = "color-palette bg-secondary text-light";
                                                break;
                                            default:
                                                statusColorClass = "color-palette bg-primary text-light";
                                                break;
                                        }
                                    }
                                    <div class=" @statusColorClass">
                                        <span> @item.Status </span>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center bg-secondary text-primary">
            <a href="/Admin/Reservation/Index/">Tüm Rezervasyonları Görüntüle</a>
        </div>
        <!-- /.card-footer -->
    </div>
</div>