
@model Destination

@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Tur Detayları</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Rehberin Yorumları </li>
            </ul>
        </div>
    </div>
</section>

<div class="py-5 w3l-homeblock1 text-center">
    <div class="container mt-md-3">
        <h3 class="blog-desc-big text-center mb-4">
            Seyahatinizi unutulmaz kılacak hikayeleri rehberlerimizden dinleyin..
        </h3>
        <div class="blog-post-align">
            <div class="blog-post-img">
                <img src="@Model.Guide.Image" alt="" class="rounded-circle img-fluid" />
            </div>
            <div class="blog-post-info">
                <div class="author align-items-center mb-1">
                    <p class="text-dark"> @Model.Guide.Name </p>
                    <p>@Model.Guide.Description</p>
                </div>
                <ul class="blog-meta">
                    <li class="meta-item blog-lesson">
                        <span class="meta-value"> @Model.Date.Date.ToShortDateString()</span>
                    </li>
                    <li class="meta-item blog-students">
                        <span class="meta-value"> 6min read</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="blog-post-main w3l-homeblock1">
    <!--/blog-post-->
    <div class="blog-content-inf pb-5">
        <div class="container pb-lg-4">
            <div class="single-post-image">
                <div class="post-content align-items-center">
                    <img src="@Model.CoverImage" style="height:600px;width:1400px" class="radius-image img-fluid mb-5" alt="" />
                </div>
            </div>
            <div class="single-post-content">
                <p class="alphabet mb-4">
                    <span class="big-letter">@Model.Details1.Substring(0,1)</span> @Model.Details1.Substring(1)
                </p>
                <blockquote class="blockquote my-5">
                    <div class="icon-quote"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
                    @Model.Description
                </blockquote>
                <div class="sing-post-thumb mb-5 row pt-3">
                    <div class="col-sm-6">
                        <img src="/destinationimages/@Model.Image" style="height:500px;width:450px" class="img-fluid radius-image" alt="">
                    </div>
                    <div class="col-sm-6 mt-sm-0 mt-3">
                        <img src="@Model.Image2" class="img-fluid radius-image" style="height:500px;width:450px" alt="">
                    </div>
                </div>
                <br />
                <p class="mb-4">
                    @Model.Details2
                </p>
                <div class="d-grid left-right mt-5 pb-md-5">
                    <div class="buttons-singles tags">
                        <h4>Tags :</h4>
                        <a href="#blog-tag">Travel</a>
                        <a href="#blog-tag">Culture</a>
                        <a href="#blog-tag">Hotel</a>
                        <a href="#blog-tag">Food</a>
                    </div>
                    <div class="buttons-singles">
                        <h4>Share :</h4>
                        <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden=" true"></span></a>
                    </div>
                </div>

                <!--//author-card-->
                @await Component.InvokeAsync("_GuideDetails", new { id = Model.GuideID })
                <!--//author-card-->
                @await Component.InvokeAsync("_CommentListPartial",new { id = ViewBag.i })
               

                @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new { id = ViewBag.i });
            </div>
        </div>
        <!--//blog-post-->
    </div>
</section>